@use 'vars';

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  height: 100%;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}

.mobile-menu ul {
  margin: 24px 0 0;
  padding: 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:last-child {
  margin-bottom: 20px;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu ul .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu ul .sign-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}